$primary-color = #0052FF
$secondary-color = #4F88FF
$primary-border-color = #0B4EC5
$primary-active-color = #0049E4
$secondary-border-color = #5D8CEE
$brand-bg-color = #023EA8
$brand-bg-color-dark = #041B67
