@font-face
  font-family: "NokiaPureHeadline_Bold"
  src: url("~@fonts/NokiaPureHeadline_Bold.ttf")

@font-face
  font-family: "NokiaPureHeadline_ExtraBold"
  src: url("~@fonts/NokiaPureHeadline_ExtraBold.ttf")

@font-face
  font-family: "NokiaPureHeadline_Light"
  src: url("~@fonts/NokiaPureHeadline_Light.ttf")

@font-face
  font-family: "NokiaPureHeadline_Regular"
  src: url("~@fonts/NokiaPureHeadline_Regular.ttf")

@font-face
  font-family: "NokiaPureHeadline_Ultralight"
  src: url("~@fonts/NokiaPureHeadline_Ultralight.ttf")

@font-face
  font-family: "NokiaPureSymbols"
  src: url("~@fonts/NokiaPureSymbols.ttf")

@font-face
  font-family: "NokiaPureText-Bold"
  src: url("~@fonts/NokiaPureText-Bold.ttf")

@font-face
  font-family: "NokiaPureText-Light"
  src: url("~@fonts/NokiaPureText-Light.ttf")

@font-face
  font-family: "NokiaPureText-Medium"
  src: url("~@fonts/NokiaPureText-Medium.ttf")

@font-face
  font-family: "NokiaPureText-Regular"
  src: url("~@fonts/NokiaPureText-Regular.ttf")
