@import '~/node_modules/reset-css/reset.css'
@import './reset-plus'
@import './fonts'
@import './vue-transitions'

html
  user-select: none

html, body, #app
  height: 100%
  overflow: hidden

body
  letter-spacing: 0.5px
  font-family: "NokiaPureText-Light"
  color: white

p.summary-text
  li
    padding-left: 30px
