@import '~/node_modules/reset-css/reset.css'
@import './reset-plus'
@import './colors'
@import './fonts'
@import './vue-transitions'

.page
  height: 100%

body
  letter-spacing: 0.5px
  font-family: "NokiaPureText-Light"
  color: white

p.summary-text
  li
    padding-left: 30px

.datatable
  th, td
    vertical-align: middle
