// @font-face
//   font-family: "Avenir-Medium"
//   src: url("./assets/fonts/Avenir-Medium.ttf")
//
// @font-face
//   font-family: "Avenir-Heavy"
//   src: url("./assets/fonts/Avenir-Heavy.ttf")
//
// @font-face
//   font-family: "Avenir-Black"
//   src: url("./assets/fonts/Avenir-Black.ttf")
