duration = .3s

// fade animation
.fade-enter-active, .fade-leave-active
  transition-property: opacity
  transition-duration: duration

.fade-enter-active
  transition-delay: duration

.fade-enter, .fade-leave-active
  opacity: 0

// slide-left, slide-right animation
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active
  transition: all duration cubic-bezier(.55,0,.1,1)

.slide-left-enter, .slide-right-leave-active
  opacity: 0
  -webkit-transform: translate(100%, 0)
  transform: translate(100%, 0)

.slide-left-leave-active, .slide-right-enter
  opacity: 0
  -webkit-transform: translate(-100%, 0)
  transform: translate(-100%, 0)

// slide-fade-left, slide-fade-right animation
.slide-fade-left-enter-active,
.slide-fade-left-leave-active,
.slide-fade-right-enter-active,
.slide-fade-right-leave-active
  transition: all duration cubic-bezier(.55,0,.1,1)

.slide-fade-left-enter, .slide-fade-right-leave-active
  opacity: 0
  -webkit-transform: translateX(5%)
  transform: translateX(5%)

.slide-fade-left-leave-active, .slide-fade-right-enter
  opacity: 0
  -webkit-transform: translateX(-5%)
  transform: translateX(-5%)

// pop-in-top animation
.pop-in-top-enter,
.pop-in-top-leave-to
  -webkit-transform: translateY(-100%)
  transform: translateY(-100%)

.pop-in-top-enter-active,
.pop-in-top-leave-active
  transition: all duration cubic-bezier(.55,0,.1,1)

// float-up animation
.float-up-enter-active, .float-up-leave-active
  transition: all duration cubic-bezier(.55,0,.1,1)

.float-up-enter-active
  transition-delay: duration

.float-up-enter, .float-up-leave-to
  opacity: 0
  -webkit-transform: translateY(5%)
  transform: translateY(5%)
